.flip-container {
	perspective: 1000;
}
body{
  background-color: beige;
}
.flipper {
  padding: 30px;
  width: 300px;
  height:250px;
  position: relative;
    background: #c7cec7;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
	
	transition: 0.6s;
	transform-style: preserve-3d;
}

.front, .back {
  
  position: absolute;
    padding:10px 30px;
  top: 0;
  left: 0;
  right: 0;
	
	backface-visibility: hidden;
}

.front{
	z-index: 2;
	
	transform: rotateY(0deg);
}

.back{
    transform: rotateY(180deg);
}
.flip{
		transform: rotateY(180deg);
}
input{
    width:100%;
    margin-bottom:15px;
    height:40px;
    box-sizing: border-box;
    padding:10px;
    border-radius: 10px;
    border-style:none;
    border-color: rgb(100, 124, 100);
}

.title{
  text-align: center;
}
.flipbutton{
    color:#4096ee;
    text-decoration:none;
    text-align:left !important;
}





body, html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
#img{
  height:60%;
  width:70%;
  align-self: center;
  padding-left: 14%;
}
#lc{
margin-top: 8%;
}
a,#loginButton:hover{
  color:#6235b6;
  
}
#loginButton{
  text-align: center;
  font-size:27px;
  padding-top:20% !important;
  
}
#loginButton1:hover{
  background-color: aquamarine;
}

#loginButton1{
  width:100%;
  margin-bottom:15px;
  height:40px;
  box-sizing: border-box;
  padding:10px;
  border-radius: 10px;
  border-style:none;
  font-size: large;
}

